#body
{
	margin:0px;
	padding0px;
}

#container
{
	width: 960px;
	height: auto;
	margin-left: 27px;
	padding: 10px;

}

#hd
{
	width: 100%;
	margin-bottom: 5px;
	text-align: left;
}

#left
{
	float: left;
	width: 25%;
	height: 100%;
}

#center
{
	margin-left:28%;
	margin-right:23%;
	height:100%;
}

#right
{
	float: right;
	width: 21%;
	margin: 0;
	height:800px;
}

#center h5
{
	font-family: sans-serif;
	color: red;
}

#footer 
{
	float:left;
	margin-top:50px;
	margin-bottom:5px;
	width: 100%;
	padding: 10 20 50 0;
}

.menu-bg
{
	float: left;
	position: relative;
	height: 24px;
	width: 100%;
	background-color: black;
	margin-bottom: 20px;
}

#menu
{
	position:absolute;
	top:0px;
	width:100%;
	color:white;
	font:"Kabel Bk BT";
}
#menu #l
{
	position: absolute;
	left:-5px;
}
#menu #c
{
	position: absolute;
	left: 28%;
}
#menu #r
{
	position: absolute;
	left: 79%;
}

.regular {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	line-height: 15pt;
}

.book-title {
	font: bold 11pt/16pt Gill, sans-serif;
	color: black;
}

.book 
{
	cursor:auto;
	padding-bottom:1px;
	magin-bottom:2px;
}

.small-dark {
	font: 8pt/14pt sans-serif;
	color: black;
	font-weight:bold;
}

.small-light {
	font: 8pt/14pt sans-serif;
	color: black;	
}

.small-bright-red {
	font: 8pt/14pt sans-serif;
	color: red;	
}

.small-bright-blue {
	font: 8pt/14pt sans-serif;
	color: blue;	
}

a:link, a:visited, a:active
{
	text-decoration: none;
	color: #666666;
	border:none;
}

a:hover
{
	color: red;
	border: none;
}

.more
{
	cursor: pointer;
}

#center p
{
	padding-right:25px;
	padding-bottom:5px;
}
#left p
{
	padding-right:25px;
	margin-top:0px;
}
#right p
{
	margin-top:0;
	margin-bottom:3px;
	padding-top:0px;
	padding-bottom:2px;
}
.tb-cover 
{
	align:right;
	border:none;
	text-align: right;
	float: right;
	margin-top: 33px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.info-box {
	text-align:left;
	padding:3px;
	float:left;
	margin-right:5px;
}
img {
	border: none;
}

img.border {
    border: 1px solid black;
}

.special-font {
	color: #FF0000;
}
.strike-through {
    text-decoration: line-through;
}
.end-rule 
{
	color: black;
	margin-bottom:12px;
	border-width:1 0 0 0;
	background-color: black;
	width: 93%;
	display: block;
	height: 1px;
	float:left;
	text-align: left;
}
.tb-cover-clean 
{
	align:right;
	text-align: left;
	float: left;
	margin-right: 25px;
}
.picture
{
border:none;
hover:none;
padding-top:5px;
padding-bottom:5px;
}

#right ol
{
list-style:none;
padding: 0 0 0 0;
margin: 0 0 0 0 ;
}
#right li
{
padding-bottom:5px;
}

.toggle-off
{
display:;
}



/* tables -- used in admin context*/
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}


